// Place all the styles related to the Shohada controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap-sprockets";
@import "bootstrap";
/* universal */


section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
}

.center h1 {
  margin-bottom: 10px;
}


body {    
/*background-image: url(/images/back.jpg);
background-size: cover;
background-repeat: no-repeat;*/
background-color:#DAD1CA;
  padding-top: 60px;
}


/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a {
  color: #555;
}

footer a:hover {
  color: #222;
}

footer small {
  float: left;
}

footer ul {
  float: right;
  list-style: none;
}

footer ul li {
  float: left;
  margin-left: 15px;
}

#footer small {
  float: left;
}

#footer ul {
  float: right;
  list-style: none;
}

#footer ul li {
  float: left;
  margin-left: 15px;
}


