<% provide(:title, "Mehdi Norouzi") %>
<% provide(:persianname, "شهید مهدی نوروزی") %>
<% provide(:englishname, "shahid Mehdi Norouzi") %>
<% provide(:image, "/images/shahid2.jpg") %>
<% provide(:content, "سردار سرتیپ پاسدار حمید تقوی پس از دوران دفاع مقدس در عرصه‌های مختلف پاسداری از انقلاب اسلامی و مقابله با دشمنان اسلام و جبهه‌ مقاومت و بیداری اسلامی نقش‌آفرینی‌های ارزشمند و ماندگاری داشته و سرانجام در حین انجام مأموریت مستشاری به ارتش و بسیج مردمی عراق برای مقابله با تروریست‌های تکفیری و داعش در شهر سامراء و در جوار مرقد مطهر امام عسگری (ع) به شهادت رسید. 
.سردار حمید تقوی یکی از اهالی منطقه کوت عبدالله اهواز و روستای ابودبس است که در درگیریهای منطقه بلد در استان صلاح الدین به درجه رفیع شهادت نائل آمد.سردار بزرگ سید حمید تقوی که فرماندهی محور سامراء را بر عهده داشت  و به سردار سامرا مشهور است. پدر ایشان در عملیات خیبر و برادرشان در عملیات والفجر ۸ به شهادت رسیدند.")
%>
<% provide(:link1, 'http://www.abna24.com/persian/service/middle/archive/2015/01/12/664314/story.html') %> 
<% provide(:link1name, "تشییع شهید در حرم ") %>
<% provide(:link2, 'http://www.defapress.ir/Fa/News/38384') %>
<% provide(:link2name, "شهید نوروزی در فتنه ۸۸") %>
<% provide(:link3, 'http://www.shia-news.com/fa/news/84823/%D9%88%D8%B5%DB%8C%D8%AA-%D8%B4%D9%87%DB%8C%D8%AF-%D9%85%D9%87%D8%AF%DB%8C-%D9%86%D9%88%D8%B1%D9%88%D8%B2%DB%8C-%D8%A8%D9%87-%D9%81%D8%B1%D8%B2%D9%86%D8%AF%D8%B4') %>
<% provide(:link3name, "وصیت شهید") %>
<% provide(:next, "shahid3.html") %>




